<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editar pelicula</title>
</head>
<body>
    <h1>Editar Película</h1>
    <form action="/editar_pelicula/{{ pelicula.id }}" method="POST">
        <label for="nombre">Nombre de la pelicula:</label>
        <input type="text" id="nombre" name="nombre" value="{{ pelicula.nombre }}" required>
        <br>
        <label for="director">Director:</label>
        <input type="text" id="director" name="director" value="{{ pelicula.director }}" required>
        <br>
        <label for="fecha_estreno">Fecha de Estreno:</label>
        <input type="date" id="fecha_estreno" name="fecha_estreno" value="{{ pelicula.fecha_estreno }}" required>
        <br>
        <label for="sinopsis">Sipnosis:</label>
        <textarea id="sinopsis" name="sinopsis" required>{{ pelicula.sinopsis }}</textarea>
        <br>
        <input type="submit" value="guardar Película">
    </form>
    <a href="/cine">inicio</a> <br>
    <a href="/usuario">cerrar sesión</a>
</body>
</html>