<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de la Película</title>
</head>
<body> 

    <h1>{{ pelicula.nombre }}</h1> 

    

    <p><strong>Publicado por:</strong> {{ usuario.nombre }} {{usuario.apellido}} </p>


   
    <p><strong>Nombre:</strong> {{ pelicula.nombre }}</p>
    <p><strong>Director:</strong> {{ pelicula.director }}</p>
    <p><strong>Fecha de Estreno:</strong> {{ pelicula.fecha_estreno }}</p>
    <p><strong>Sinopsis:</strong> {{ pelicula.sinopsis }}</p>
  
  
    <a href="/pelicula">Volver a la lista de películas</a>

    <div>
        <h2> comentarios </h2>
        <form action="/guardar_comentario" method="POST">
            <input type="hidden" name="pelicula_id" value="{{ pelicula.id }}">
            <label for="comentario">Comentario:</label>
            <textarea id="comentario" name="comentario" required></textarea>
            <br>
            <input type="submit" value="Agregar Comentario">

    </div>
</body>
</html>